<li>
  <a href='<%= mysmile.image %>?imageMogr2/thumbnail/1366x' data-gallery> <!--大图 width: 1366px; heigh: auto-->
    <img src='<%= mysmile.image %>?imageMogr2/thumbnail/710x' /> <!--width: 750px-40px = 710px; height: auto -->
  </a>
    <h3> 
      <div class="functionBar">
         <a href="/<%= mysmile.user.name %>" class="functionBarAvatar">
         	<% if mysmile.user.avatar == nil %>
                <img src="http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg?imageMogr2/thumbnail/35x" class="functionBarAvatar">
            <%else%>
                <img src="<%= mysmile.user.avatar%>/thumbnail/35x" class="functionBarAvatar">  
            <%end%>
         </a>
         <div class="functionBarText">
           <span class="functionBarName"><%= mysmile.user.name %></span><br>
           <span class="functionBarTime"><%= distance_of_time_in_words(mysmile.created_at, 0.minutes.ago) %> </span>
           <span class="timeAgo">&nbsp; ago</span>
         </div>
         <% if current_user != mysmile.user %>
           <a id="<%= mysmile.id %>" class="<%=if signed_in? then current_user.favoring?(mysmile) ? "favor unfavor" : "favor"  end  %>" >
             <span class="fa fa-heart "></span>
           </a>
         <%elsif current_user == mysmile.user %>
           <a href="/smiles/<%= mysmile.id %>"><span class="fa fa-heart "><% if mysmile.favorers.length > 0 then %><span>&nbsp;<%= mysmile.favorers.length %></span><%elsif mysmile.favorers.length > 99 %><span>&nbsp;99+</span><%end%></span></a>
         <%end%>
           <span class="fa fa-send "></span>
         <% if current_user != mysmile.user %>
           <img src="/assets/SmileAtIcon.png" class="smileAt" type="button" data-toggle="modal" data-target="#smileAtSb" id="<%= mysmile.user.id %>">
         <%else%>
           <span class="fa fa-remove"></span>
         <%end %>
     </div>
   </h3>
  
</li>