<li>
  <a href='<%= smile.image %>?imageMogr2/thumbnail/1366x' data-gallery> <!--大图 width: 1366px; heigh: auto-->
    <img src='<%= smile.image %>?imageMogr2/thumbnail/710x' /> <!--width: 750px-40px = 710px; height: auto -->
  </a>
    <h3> 
      <div class="functionBar">
         <a href="/<%= smile.user.name %>" class="functionBarAvatar">
         	<% if smile.user.avatar == nil %>
                <img src="http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg?imageMogr2/thumbnail/35x" class="functionBarAvatar">
            <%else%>
                <img src="<%= smile.user.avatar%>/thumbnail/35x" class="functionBarAvatar">  
            <%end%>
         </a>
         <div class="functionBarText">
           <span class="functionBarName"><%= smile.user.name %></span><br>
           <span class="functionBarTime"><%= distance_of_time_in_words(smile.created_at, 0.minutes.ago) %> </span>
           <span class="timeAgo">&nbsp; ago</span>
         </div>
         <a id="<%= smile.id %>" class="<%=if signed_in? then current_user.favoring?(smile) ? "favor unfavor" : "favor"  end  %>" >
           <span class="fa fa-heart "></span>
         </a>
           <span class="fa fa-send "></span>
           <img src="/assets/SmileAtIcon.png" class="smileAt" type="button" data-toggle="modal" data-target="#smileAtSb" id="<%= smile.user.id %>">
     </div>
   </h3>
  
</li>