<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">

      <nav>
        <% if signed_in? %>
        <a href="/" id="logo"><img src="assets/Inbox.png"></a>
        <ul class="nav navbar-nav pull-right">          
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Me <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        </ul>
        <% else %>
        <%= link_to "Smile @ Me", root_path, id: "logo" %>
         <ul class="nav navbar-nav pull-right"> 
         <li><%= link_to "Sign in", signin_path %></li>
         </ul>
         <% end %>        
      </nav>
    </div>
  </div>
</header>