<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset= "UTF-8"> 
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>

  <%= javascript_include_tag "colorfinder-1.1", "gridScrollFx", "jquery.blueimp-gallery.min", "bootstrap-image-gallery.min", "facepp-sdk.min", "jquery.Jcrop.min", "jquery.color", "jquery.foggy.min", "blur.min", "Vague"%>
  <%= stylesheet_link_tag "normalize", "component", "blueimp-gallery.min", "bootstrap-image-gallery.min", "jquery.Jcrop.min", "custom" %>
  <script src="http://localhost:9292/faye/faye.js"></script>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?dab080eeaf0f135b8b342bd5542e68fb";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>


<script> 
    //Sign Up and Login

    //----------------SignUp ------------------------------------------------------
    $(document).ready(function(){ 
    	$("#sureToCreate").unbind("click").click(function(){ 
    		var formData =  new FormData();
    		formData.append('name', $("#user_name").val());
    		formData.append('gender', $("input[type='radio']:checked").val());
    		formData.append('email', $("#user_email").val());
    		formData.append('password' ,$("#user_password").val());
    		formData.append('password_confirmation', $("#user_password_confirmation").val());

    		if ( $("#user_name").val() != '' && $("input[type='radio']:selected").val() != '' && $("#user_email").val() != '' && $("user_password").val() != '' &&  $("user_confirmation").val() == $("user_password").val() )
    		{

    		  $.ajax({ 
    		  	type: "POST",
    		  	url: "/users",
    		  	data: formData,
    		  	processData: false,
                contentType: false,
    		  	error: function(result,status,xhr){ 
    		  		console.log(result);
    		  	},
    		  	success: function(result,status,xhr){ 
    		  		$('#signUp h4').html("<b>Success!</b>");
                    $('#signUp .modal-body').html('<span class="fa fa-check-circle"></span>');
                    $('#signUp .fa').css({"font-size": "100px", "color": "#5cb85c", "position": "relative", "left": "50%", "margin-left": "-50px"});
                    $('#signUp .modal-footer').html('');
                    setTimeout(function(){$("#signUp").modal('hide')}, 1000);
                    
                    //$('#navBar').load('');
                    location.reload();

    		  	}
    		  });
    		}

    		else 
    			$("#signUpErrors").append("<p>Error.</p>");

    	});
    });
  
  //---------------------------------Login---------------------------------------------------
  $(document).ready(function(){ 
    	$("#sureToLogin").unbind("click").click(function(){ 
    		var formData =  new FormData();
    		formData.append('email', $("#session_email").val());
    		formData.append('password', $("#session_password").val());
    		if ( $("#session_email").val() != '' && $("#session_password").val() != '' )
    		{

    		  $.ajax({ 
    		  	type: "POST",
    		  	url: "/sessions",
    		  	data: formData,
    		  	processData: false,
                contentType: false,
    		  	error: function(result,status,xhr){ 
    		  		console.log(result);
    		  	},
    		  	success: function(result,status,xhr){ 
    		  		setTimeout(function(){$("#logIn").modal('hide')}, 1000);
    		  		location.reload();
    		  	}
    		 });
    		}
    		else {} 
    	});
    });

  </script>



  <% if signed_in?%>
  <script> 
  //-----------------头像 Setting 控制-------------------------------  
  $(document).ready(function(){ 
  	
  	$("#avatar").unbind('change').change(function(){ 

  	$('#uploadNewPicture').click();

  	if ($("#avatar")[0].files.length == 0)
  	{
  	  <% if current_user.avatar == nil %>
  	    $("#avatarContainer img").attr("src", "http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg" ) ;
  	    $("#previewPanel img").attr("src", "http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg") ;
      <%else%>
        $("#avatarContainer img").attr("src", "<%= current_user.avatar%>");
        $("#previewPanel img").attr("src", "<%= current_user.avatar%>/thumbnail/80x");
      <%end%> 
      } 

    else
    {
  		$.get("/uploadtoken",function(data, status, xhr){   			
  			var formData = new FormData();
            formData.append('token', data.uptoken);
            formData.append('file', $("#avatar")[0].files[0]);

            $("#uploadNewPicture").html("Loading...");

            $.ajax({
              type: "POST",
              url: "http://upload.qiniu.com",
              data: formData,
              processData: false,
              contentType: false,
              success: function(result,status,xhr){
              	
              	var imgOrignal = "http://7u2ew1.com1.z0.glb.clouddn.com/"+result.hash ;
                var imgWithWidth250x = "http://7u2ew1.com1.z0.glb.clouddn.com/"+result.hash+"?imageMogr2/thumbnail/250x";
                $("#avatarContainer img").first().attr({src: imgWithWidth250x, id: "target"}) ;
                $("#previewPanel img").attr("src", imgWithWidth250x) ;
                $("#uploadNewPicture").html("Upload new picture");
                console.log("So far so good");

                //Jcrop 
                var jcropFunction;
                jcropFunction = function($){ 
                	var jcrop_api,
                	    boundx,
                	    boundy,

                	    $preview = $('#previewPanel'),
                	    $pcnt = $('#previewPanel .previewContainer'),
                	    $pimg = $('#previewPanel .previewContainer img'),

                	    xsize = $pcnt.width(),
                	    ysize = $pcnt.height();

                	    console.log('init', [xsize, ysize]);
                	    $('#target').Jcrop({ 
                	    	onChange: updatePreview,
                	    	onSelect: updatePreview,
                	    	minSize: [100,100],
                	    	setSelect: [0,0,200,200],
                	    	bgColor: 'black',
                	    	bgOpacity: .4,
                	    	aspectRatio: 1
                	    }, function(){  
                	    	var bounds = this.getBounds();
                	    	boundx = bounds[0];
                	    	boundy = bounds[1];
                	    	jcrop_api = this;
                	    	$preview.appendTo(jcrop_api.ui.holder);

                	    });

                	$('#uploadNewPicture').unbind('click').click(function(e){ 
                		jcrop_api.destroy();
                		$('#avatarContainer').html('<% if current_user.avatar == nil %><img src="http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg"><%else%><img src="<%= current_user.avatar%>">  <%end%><div id="previewPanel" class="img-rounded"><div class="previewContainer"><img src="http://7u2ew1.com1.z0.glb.clouddn.com/emptyAvatar.jpg"  class="jcrop-preview"></div></div>');
                		console.log("jcrop destroyed");
                		return false;
                	});

                	function updatePreview(c)
                	{ 
                		if (parseInt(c.w) >0)
                			{ 
                				var rx = xsize / c.w;
                				var ry = ysize / c.h;

                				$pimg.css({ 
                					width: Math.round(rx * boundx) +'px',
                					height: Math.round(ry * boundy) + 'px',
                					marginLeft: '-' + Math.round(rx * c.x) + 'px',
                                    marginTop: '-' + Math.round(ry * c.y) + 'px'
                				});
                			}
                	}

                	$("#saveChange").unbind('click').click(function(){ 

                		var r = 250 / result.w,
                		    jcropX = jcrop_api.tellSelect().x,
                		    jcropY = jcrop_api.tellSelect().y,
                		    jcropWidth = jcrop_api.tellSelect().w,
                		    orignalX = Math.round(jcropX / r),
                		    orignalY = Math.round(jcropY / r),
                		    orignalWidth = Math.round(jcropWidth / r),
                		    userAvatarUrl = imgOrignal + '?imageMogr2/crop/!' + orignalWidth+'x'+orignalWidth+'a'+orignalX+'a'+orignalY;
                		if (result.w > 300) 
                		{ 
                			$.ajax({ 
                				type: "PATCH",
                				url: "/users/"+<%= current_user.id %>,
                				data: {id: <%= current_user.id %>, avatar: userAvatarUrl},
                				success: function(result, status, xhr){ 
                					console.log(result.status);
                				}
                			});
                		}
                	});
                };

                $(document).ready(jcropFunction);
                $(document).on('page:load', jcropFunction );

               }
            });
  		});
  	}

  	});

  });
 
  </script>
 <%end%>





  <script>
        //Favor and unfavor a smile 只在此处声明，每次调用ajax获取新的内容要重新调用此函数，否则新增加的内容无法获得调用函数 
        // wait for the DOM to be loaded 
        // bind 'myForm' and provide a simple callback function 
   var favorUnfavor = function(){
         $('a.favor').unbind("click").click(function(){ 
          	var favorclass = "favor"
          	if ($(this).attr("class") == favorclass)
            { 
              $.post("/relationships",
                {
                favored_id: $(this).attr("id")
                },
                function(data, status) { 
                });
            }            
           else 
           	{  
           		$.ajax({ 
           			type: "DELETE",
           			url: "/relationships/"+$(this).attr("id"),
           			data: {favored_id: $(this).attr("id")}
           		    
           		});

           	}
           });
    }


    </script> 

    <script>
    //-----------Get Qiniu UploadToken------------------Add Smile----------------------------------
      $(document).ready(function(){ 
      	$('#camera').unbind("click").click(function(){ 
      		$.get("/uploadsmile",function(date, status){ 
      		});
      	});
      });
    </script>


<% if signed_in? then%>
    <script>
    //Smil@ 获取并在smileAtForm中列出用户上传的smiles供用户选择和上文favorUnfavor函数一样，利用ajax调用新的内容之后要重新调用本函数，否则新增加的内容无法获得事件函数 ----------------------------------------------------
    var getUploadedSmiles = function(){ 

        $('.smileAt').unbind("click").click(function(){ 
          var receiver_id = $(this).attr("id");
          $("#uploadedSmiles").html('');
           $.ajax({ 
           	type: "GET",
           	url: "/smiles",
           	data: { id: <%= current_user.id %>, receiver_id: receiver_id, start: 0, scope: "uploaded"},
           	success: function(){ 
           		$('.smileAtSbPercentage').html('12/<%= current_user.smiles.count %>');
           	}
           });

           // range = uploadedSmilesStartPointer
           var indexUploadedSmilesRange = 12;
           var uploadedSmilesStartPointer = indexUploadedSmilesRange;
           $('#smileAtSb .next').unbind('click').click(function(){
           	if (uploadedSmilesStartPointer < <%= current_user.smiles.count %>)
           	{ uploadedSmilesStartPointer = uploadedSmilesStartPointer + indexUploadedSmilesRange;
	          $.ajax({ 
           			type: "GET",
           			url: "/smiles",
           			data: {id: <%= current_user.id %>, receiver_id: receiver_id, start: uploadedSmilesStartPointer, scope: "uploaded"},
           			success: function(data, status){ 
           				$('.smileAtSbPercentage').html(uploadedSmilesStartPointer +'/' + <%= current_user.smiles.count %>);
           			}    
           	    });
	        }
           });

           $('#smileAtSb .previous').unbind('click').click(function(){
           	if ( uploadedSmilesStartPointer >= indexUploadedSmilesRange )
           	{
           	  uploadedSmilesStartPointer = uploadedSmilesStartPointer - indexUploadedSmilesRange;
	          $.ajax({ 
           			type: "GET",
           			url: "/smiles",
           			data: {id: <%= current_user.id %>, receiver_id: receiver_id, start: uploadedSmilesStartPointer, scope: "uploaded"},
           			success: function(data, status){           				
           				console.log(uploadedSmilesStartPointer);
           				$('.smileAtSbPercentage').html(uploadedSmilesStartPointer +'/' + <%= current_user.smiles.count %>);
           			}    
           	    });
	        }
           });

        });      
  
    };
    </script>

<% end %>


    <script>
    //根据浏览器宽度调整照片栅格宽度：当屏幕宽度小于750px，单列显示图片 在smiles/index 和 smiles/create 中都要调用
    var ajustSmileFrameWidth = function(){ 
    	var frameWidth = $(window).width();
    	if (frameWidth <= 750)
    	  { 
    	  	$(".grid li").css("width", frameWidth - 40 + "px");
    	  }
    }
    </script>
  
	<style>
		body {
			background: #444;
		     }
		.codrops-demos a.current-demo {
			color: #999;
		     }
		.codrops-header h1 {
			margin-top: 50px;
			font-family: 'Microsoft Yahei';
			color: #fff;
		}
	</style>

	<script>
	//ajax加载home主页内容
	$(document).ready(function(){
      //第一次自动加载20个内容
	  var pointer = 15;
	  $("#camera").load( function(){
	        $.ajax({ 
           			type: "GET",
           			url: "/smiles",
           			data: {start: 0, scope: "all"},
           			success: function(data, status){ 
           				//console.log(data);
                    }
           		    
           	});
	  });

	  $("#loadMoreBtn").unbind("click").click(function(){ 
	  	$("#loadMoreBtn").html("Loading...");
	  	$.ajax({ 
           			type: "GET",
           			url: "/smiles",
           			data: {start: pointer, scope: 'all'},
           			success: function(data, status){
           				pointer = pointer + 15;
           			}
           		    
           		});

	  }); 
	})

	</script>
	

<% if signed_in? then%>
	<script>
	//------------Faye订阅自己的频道，接收Message---------------------------------------
	$(document).ready(function(){
		var smileAt = new Faye.Client('http://localhost:9292/faye');
        smileAt.subscribe("/messages/"+ <%= current_user.id %>, function (data) {
        	$("#messageIcon").css("background", 'url("assets/messageIcon_1.png") 0 0');

        });
    }); 
	</script>

	<script>
	//网页加载查询是否有未读消息；点击，ajax获取未读message；
	$(document).ready(function(){
		$.ajax({ 
			type: "GET",
			url: "/messages",
			data: {receiver_id: <%= current_user.id %>, read_state: "false", render: "false" },
	        success: function(data, status){	               	
	               } 
		});


 	    $("#messageIcon").unbind("click").click(function(){
	      //获取前5个未读消息
	      $.ajax({
	               type: "GET",
	               url: "/messages",
	               data: {receiver_id: <%= current_user.id %>, read_state: "false", render: "true", start: 0},
	               success: function(data, status){ 
	               	
	               } 
	        });


	      // range = unreadSmilesStartPointer
           var indexUnreadMessagesRange = 5;
           var unreadSmilesStartPointer = indexUnreadMessagesRange;
           $('#messagePanelPager .next').unbind('click').click(function(){

           	if (unreadSmilesStartPointer < $("#messagePanel .badge").html() )
           	{ unreadSmilesStartPointer = unreadSmilesStartPointer + indexUnreadMessagesRange;
	          $.ajax({ 
           			type: "GET",
           			url: "/messages",
           			data: {receiver_id: <%= current_user.id %>, read_state: "false", start: unreadSmilesStartPointer, scope: "uploaded", render: "true"},
           			success: function(data, status){ 
           				console.log(unreadSmilesStartPointer);
           			}    
           	    });
	        }
           });

           $('#messagePanelPager .previous').unbind('click').click(function(){

           	if ( unreadSmilesStartPointer >= indexUnreadMessagesRange )
           	{
           	  unreadSmilesStartPointer = unreadSmilesStartPointer - indexUnreadMessagesRange;
	          $.ajax({ 
           			type: "GET",
           			url: "/messages",
           			data: {receiver_id: <%= current_user.id %>, read_state: "false", start: unreadSmilesStartPointer, scope: "uploaded", render: "true"},
           			success: function(data, status){           				
           				console.log(unreadSmilesStartPointer);
           			}    
           	    });
	        }
           }); 

	   });
	});
	</script>

<%end%>
 

  <script>
    $(document).ready(function(){
		new GridScrollFx( document.getElementById( 'grid' ), {
			viewportFactor : 0.4
		} );
	});
  </script>

  


</head>


<body>
  
  <%= render 'layouts/header' %>
  
  <div class="container-fluid">
	
	<% flash.each do |key, value|%>
	  <div class="alert alert-<%= key %>"><%= value %>
      </div>
	<%end%>
	<div id="test">
	</div>

    <%= yield %>

    <%= render 'layouts/loginForm' %>
    <%= render 'layouts/signUpForm' %>
    <%= render 'layouts/uploadSmileForm' %>
    <%= render 'layouts/imageLightBox' %>
    <%= render 'layouts/smileAtForm' %>
    <%= render 'layouts/messagePanelForm' %>
    <%= render 'layouts/settingPanel'%>


  </div><!--End of container-->




  </body>
</html>