<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" type="text/css" href="assets/normalize.css" />
		<link rel="stylesheet" type="text/css" href="assets/demo.css" />
		<link rel="stylesheet" type="text/css" href="assets/component.css" />
		<!--
		<link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css">
		-->
		<style>
		body {
			background: #444;
		}
		.codrops-demos a.current-demo {
			color: #999;
		}
		.codrops-header h1 {
			margin-top: 50px;
			font-family: 'Microsoft Yahei';
			color: #fff;
		}
		</style>
		<script src="assets/modernizr.custom.js"></script>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
	<% flash.each do |key, value|%>
	  <div class="alert alert-<%= key %>"><%= value %>
      </div>
	<%end%>
  <%= yield %>
  </div>
  <div class="footer-banner" style="width:728px; margin:160px auto 100px"></div>
		<script src="assets/masonry.pkgd.min.js"></script>
		<script src="assets/imagesloaded.pkgd.min.js"></script>
		<script src="assets/classie.js"></script>
		<script src="assets/colorfinder-1.1.js"></script>
		<script src="assets/gridScrollFx.js"></script>
		<script>
			new GridScrollFx( document.getElementById( 'grid' ), {
				viewportFactor : 0.4
			} );
		</script>
		<script src="http://dreamsky.github.io/main/blog/common/jquery.min.js"></script>
		<!--
		<script src="http://dreamsky.github.io/main/blog/common/init.js"></script>
		-->
</body>
</html>
